nav
    ul
        each val in navigation[0].Menu
            li.navigation
                a(href=baseURL+val.URL+'/'+language[0])= val.Title
#navButton(onclick="toggleNav()")
    img(src=baseURL+"static/img/hamburger.svg")
    script.
        function toggleNav(){
            $('nav').toggleClass('open');
        }
