@font-face {
  font-family: "FreeSerif-JK";
  src: url("../fonts/JK-MESH-Serif.woff2") format("woff2"), url("../fonts/JK-MESH-Serifwoff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "FreeSans-JK";
  src: url("../fonts/JK-MESH-Sans.woff2") format("woff2"), url("../fonts/JK-MESH-Sans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --color1: 215, 255, 0, 1;
  --color2: 140, 110, 255, 1;
  --color3: 215,215,215,1;
  --color4: 0,0,0,0;
}

body {
  font-family: "FreeSans-JK", sans-serif;
  margin: 0;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

::-moz-selection {
  background: rgba(var(--color1));
}

::selection {
  background: rgba(var(--color1));
}

a {
  text-decoration: none;
  color: rgba(var(--color2));
  transition: color 1s linear;
}

h1, h2, h3, h4 {
  max-width: 100%;
  overflow: hidden;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  font-weight: normal !important;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  -webkit-hyphens: auto;
          hyphens: auto;
}

::-webkit-scrollbar {
  display: none;
}
